* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.hidden {
	display: none;
}

.container {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content;
	height: 100vh;
	padding: 30px;
	gap: 10px;
	position: relative;
}

.students-table {
	overflow-y: scroll;
	padding-right: 5px;
}

.students-content {
	display: grid;
	grid-auto-rows: max-content;
	gap: 10px;
}

.students-content .student-row {
	display: grid;
	grid-template-columns: max-content;
	border-radius: 10px;
}
/* 
.delele-btn {
	background: #92c7eb;
	background-image: url('http://res.freestockphotos.biz/pictures/15/15107-illustration-of-a-red-close-button-pv.png');
	background-size: cover;
	background-position: center;
	display: inline-block;
	border: none;
	padding: 20px;
	width: 70px;
	border-radius: 900px;
	height: 70px;
	transition: all 0.5s;
	cursor: pointer;
}

.delete-btn:hover {
	width: 75px;
	height: 75px;
} */
.buttons-container {
	display: flex;
}
