* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.hidden {
	display: none;
}

select {
	font-size: 1.2em;
	cursor: pointer;
	height: 40px;
	/* text-shadow: 0 0 2px black; */
}

#myInput {
	color: red;
	text-align: right;
	cursor: pointer;
	height: 40px;
	/* text-shadow: 0 0 2px black; */
	font-size: 1.2em;
}

.container {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content;
	height: 100vh;
	padding: 30px;
	gap: 10px;
	position: relative;
}

.students-table {
	/* overflow-y: scroll;
	padding-right: 5px; */
	display: flex;
}

/* .titles {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
} */

.titles {
	grid-row: 1 / auto;
	font-size: 1.2em;
	font-weight: 700;
}
.students-content {
	display: grid;
	grid-auto-rows: max-content;
	gap: 10px;
}

.student-row {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	border-radius: 10px;
	background-color: rgba(116, 203, 243, 0.7);
}

.student-row div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;
	color: red;
	cursor: pointer;
	background: transparent;
}

.btn:hover {
	opacity: 0.4;
}
/* .buttons-container {
	display: flex;
} */
